/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

select.date-select {
    width:auto;
    border: 1px solid #cccccc;
    background-color: #ffffff;
}